*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__



# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2020-02-20-test.md
_posts/2022-08-22-first-notebook.md
_posts/2022-08-23-Bash-Kernel.md
_posts/2022-08-27-BasketballQuiz.md
_posts/2022-08-28-extra-credit-post.md
_posts/2022-08-28-google-docx-post.md
_posts/2022-08-29-lists.md
_posts/2022-09-08-game-plan.md
_posts/2022-09-26-JavaScript-Kernel.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-11-28-Lesson1_2.md
_posts/2022-11-29-Lesson3_4.md
_posts/2022-11-30-Lesson5_7.md
_posts/2022-12-01-AP-logic-and-algos.md
_posts/2022-12-05-Lesson8_10.md
_posts/2022-12-06-Lesson9_11.md
_posts/2022-12-07-Lesson12_13.md
_posts/2022-12-09-Unit2Vocab.md
_posts/2022-12-09-Unit3Vocab.md
_posts/2022-12-12-Lesson14_15.md
_posts/2022-12-13-Lesson16.md
_posts/2022-12-14-Lesson17_18.md
_posts/2023-01-10-PBL-model.md
_posts/2023-03-07-AP-unit2_2.md
_posts/2023-03-09-AP-unit2_3.md
_posts/2023-03-13-AP-uni2_4a.md
_posts/2023-03-16-AP-unit2_4b.md